<html>
    <head>
    <!--img hidden src="{{url_for('static', filename='morn_format.png')}}" name="morn_format_image"> 
    <!--<img hiddn src="{{url_for('static', filename='birthday_format.png')}}" name="name_format">-->

    <!--action="/new_image"-->
    <link rel="stylesheet" href="{{url_for('static', filename='designs/designs.css')}}">
    </head>
    <body onload="onload_body()" style="height:100vh">
        <form method="POST" id="message_construct"  action="/new_image">
            <! --- <input type="dropdown" placeholder="clean" name="template" required>
            <! --- <input type="dropdown" placeholder="choose board" name="board_name" required>
            <br>

            <div class="form_text">choose base image origin: </div> <select id="template_or_user_image" onchange="ImgSrcManagement.update_input_option(this)" class = "centerized">
                <option value="templates" selected="selected">templates</option>
                <option value="user_image">upload image</option>
            </select>
            <br>
            <div class="form_text">background image: </div>
            <select id="templates" onchange="on_change_template(this)" class = "centerized">
                {% for template in templates: %}
                    <option id="{{template}}" name="template_options">{{template}}</option>
                {% endfor %}
            </select>
            <input type="file" id="user_image" name="user_image" accept=".jpg, .jpeg, .png" onchange="UserFileUpload.on_file_upload(this)" class = "centerized">
            <br>
            <div class="form_text">text to add:</div> <input type="text" id="text_on_image">
            <br>
            <div class="form_text">choose board:</div> 
            <select id="board">
                {% for board in boards: %}
                    <option value={{board}}>{{board}}</option>
                {% endfor %}
            </select>
            <br>
            <div class="form_text"> image presentation time:</div>
            <select id="timeslots">
                {% for time_option in range(1, 6) %}
                    <option value="{{time_option}}">{{time_option*5}}</option>
                {%endfor%}
            </select>
            <br>
            <button onclick="add_text_to_canvas(event)" class="form_button">add text</button>
            <br class="br_size">
            <button value="add_image_to_screen" onclick="sumbit_editied_image(event)" class="form_button">add image to screen</button>
            <br class="br_size">
            <button value="clear_screen" class="form_button">clear screen</button>
        </form>
        <canvas id="edit_image_canvas" width="10vw" height="10vw"></canvas>
        <script src="https://unpkg.com/fabric@5.3.0/dist/fabric.min.js"></script>
        <script src="{{url_for('static', filename='NetworkUtils.js')}}"></script>
        <script src="{{url_for('static', filename='format_message.js')}}"></script>
        <script src="{{url_for('static', filename='utils.js')}}"></script>
        <script src="{{url_for('static', filename='form_scripts/image_canvas.js')}}"></script>
        <script src="{{url_for('static', filename='form_scripts/image_upload_manaement.js')}}"></script>
        <script src="{{url_for('static', filename='form_scripts/image_source_managment.js')}}"></script>
        <script src="{{url_for('static', filename='form_scripts/events.js')}}"></script>
    </body>
</html>