<html>
    <head>
    <!--img hidden src="{{url_for('static', filename='morn_format.png')}}" name="morn_format_image"> 
    <!--<img hiddn src="{{url_for('static', filename='birthday_format.png')}}" name="name_format">-->

    <!--action="/new_image"-->
    </head>
    <body onload="onload_body()">
        <form method="POST" id="message_construct"  action="/new_image">
            <! --- <input type="dropdown" placeholder="clean" name="template" required>
            <! --- <input type="dropdown" placeholder="choose board" name="board_name" required>
            <br>
            choose base image origin: 
            <select id="template_or_user_image" onchange="ImgSrcManagement.update_input_option(this)">
                <option value="templates" selected="selected">templates</option>
                <option value="user_image">upload image</option>
            </select>
            <select id="templates" onchange="on_change_template(this)">
                {% for template in templates: %}
                    <option id="{{template}}" name="template_options">{{template}}</option>
                {% endfor %}
            </select>
            <input type="file" id="user_image" name="user_image" accept=".jpg, .jpeg, .png" onchange="UserFileUpload.on_file_upload(this)">
            <input type="text" id="text_on_image">
            <br>
            choose board:
            <select id="board">
                {% for board in boards: %}
                    <option value={{board}}>{{board}}</option>
                {% endfor %}
            </select>
            <br>
            <button value="send_image" onclick="sumbit_editied_image(event)">send message request</button>
            <button onclick="add_text_to_canvas(event)">add text</button>
        </form>
        <canvas id="edit_image_canvas" width="500" height="300"></canvas>
        <script src="https://unpkg.com/fabric@5.3.0/dist/fabric.min.js"></script>
        <script src="{{url_for('static', filename='NetworkUtils.js')}}"></script>
        <script src="{{url_for('static', filename='format_message.js')}}"></script>
        <script src="{{url_for('static', filename='utils.js')}}"></script>
        <script src="{{url_for('static', filename='form_scripts/image_canvas.js')}}"></script>
        <script src="{{url_for('static', filename='form_scripts/image_upload_manaement.js')}}"></script>
        <script src="{{url_for('static', filename='form_scripts/image_source_managment.js')}}"></script>
        <script src="{{url_for('static', filename='form_scripts/events.js')}}"></script>
    </body>
</html>