form {
  text-align: center;
}

.centerized{
  text-align: center;
}
.canvas-container{
  margin: 0 auto;
}
.login_form{
  top: 50%;
  left: 50%;
}
.form_button {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50%;
    word-break: break-word;
    border: 0;
  }
.input_login{
  width: 100%;
}
  
.form_text{
  font-family: "Lucida Console";
  display:inline;
}

.prevent_line_break{
  display:inline;
}

.login_button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
